# Database Configuration
# DATABASE_URL="postgresql://postgres.wjkczrtmvqxracygnjhg:[YOUR-PASSWORD]@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"

# Authentication Configuration
NEXTAUTH_SECRET="your-secret-key-change-in-production"
NEXTAUTH_URL="http://localhost:3000"

# Payment Configuration (for future integration)
# PAYSTACK_SECRET_KEY="sk_..."
# PAYSTACK_PUBLIC_KEY="pk_..."
